/* body{
    border: 2px solid black;

} */
body{
   font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* .sar{
    border: 2px solid black;
} */
 .container{
    border: 5px solid black;
    width: 90%;
    max-width: 600px;
    height: 70%;
    padding: 30px;
    border-radius: 10px;
    display: flex;

 }
 .sar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;

 }
 .inp{
    display:flex;
    flex-direction: column;
 }
 input{
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
 }
 input::placeholder{
    font-size: 14px;
    color: #9fa5ab;
 }
 .btn{
    padding: 5px 10px;
    width: fit-content;
    background: #100e0e;
    border: none;
    color: aliceblue;
    border-radius: 5px;  
 }
 .btn:hover{
    border:2px solid black ;
    background: white;
    color: black;

 }
 .progress-cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
 }.progress{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 20px;
    display: grid;
    place-content:center;
 }
 .steps{
   display: flex;
   flex-direction: column;
   border: 2px solid blanchedalmond;
   background-color: rgb(15, 15, 15);
   border-radius: 10px;
   align-items: center;
   width: 200px;
   color: aliceblue;
 }
 .abc{
   text-decoration: line-through;
   color: gray;
 }
 .abc:hover{
   color: red;
 }